body {
    font-family: "Noto Sans KR", sans-serif;
    background: #fff;
    margin: 0;
}

.container {
    width: 1000px;
    margin: 40px auto;
    margin-top: 100px;
}

.page-title {
    font-size: 26px;
    margin-bottom: 20px;
}

.filter-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.filter-table th {
    width: 120px;
    padding: 10px;
    background: #f8f8f8;

}

.filter-table td {
    text-align: left;
    padding: 10px;
}

.price-input {
    width: 120px;
    padding: 6px;
}

.search-btn {
    padding: 6px 14px;
    background: #38b6ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.option-row label,
.category-row button {
    margin-right: 15px;
}

.cate-btn {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.sort-box {
    margin: 20px 0;
}

.sort-item {
    margin-right: 12px;
    color: #777;
    text-decoration: none;
}

.sort-item.active {
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid black;
}
.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.item-card {
}

.item-img {
    width: 100%;
    height: 180px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.item-title {
    font-weight: bold;
}

.item-cate {
    font-size: 13px;
    color: #777;
}

.item-price {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}
.item-status {
    color: #38b6ff;
    float: right;
}
/* 전체 컨테이너: 좌우 나란히 배치 */
.detail-wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}

/* 왼쪽 상품 정보 */
.detail-left {
    width: 50%;
}

/* 오른쪽 판매자 정보 */
.detail-right {
    width: 40%;
}

/* 공통 타이틀 */
.detail-left h3,
.detail-right h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 상품 상세 텍스트 */
.info-text {
    font-size: 17px;
    color: #444;
}

/* 판매자 정보 박스 내부 */
.seller-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* 판매자 이미지 아이콘 */
.seller-img {
    font-size: 60px;
}
